<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
Content Loading via Ajax <small>loading page content via ajax</small>
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="index.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="layout_ajax_content_1.html#"></a>
		</li>
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
			Actions <i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li>
					<a href="layout_ajax_content_1.html#">Action</a>
				</li>
				<li>
					<a href="layout_ajax_content_1.html#">Another action</a>
				</li>
				<li>
					<a href="layout_ajax_content_1.html#">Something else here</a>
				</li>
				<li class="divider">
				</li>
				<li>
					<a href="layout_ajax_content_1.html#">Separated link</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-body">
				<div class="note note-success">
					<h4 class="block">Ajax Contents</h4>
					<p>
						 This page demostrates the page content loading via ajax. To try it please click on the sidebar menu items
					</p>
					<p>
						<span class="label label-danger">
						NOTE: </span>
						&nbsp;This sample does not work if you opened the page directly from the browser since ajax calls require to receive the response from a web server.
					</p>
				</div>
				<a href="layout_ajax_content_3.html" class="btn blue ajaxify">
				Load another ajax content </a>
			</div>
		</div>
	</div>
</div>
<!-- END PAGE CONTENT-->